Allow setting User-Agent

To be able to distinguish different implementaions of this library from one another, it should be possible to set a `$userAgent` parameter that is used in a `User-Agent` header which is sent every HTTP request against PayEx' API.

It should be possible to set custom HTTP headers in the `stream_context` key of the [`options` array parameter] (https://secure.php.net/manual/en/soapclient.soapclient.php) of the `SoapClient` constructor:

```php
// We should of course figure out which version this library as well as PHP we're running dynamically and not hard coded liket his:
$userAgent = $this->_userAgent . 'PayEx.Ecommerce.Php/1.0.2 php/7.0.6';
// The stream_context needs to include the 'ssl' key if 'ssl_verify' is set to true.
$context = stream_context_create(array('http' => array('header' => "User-Agent: $userAgent"));
$options = array('stream_context' => $context);
$client = new \SoapClient($wsdl, $options);
```

Since the `stream_context` is already initialized in `__construct()`, the `header` key can just be added there along with the already existing `ssl` key being set if `ssl_verify` is `true`.

The format of the `User-Agent` header should be as per [RFC 7231 section 5.5.3](https://tools.ietf.org/html/rfc7231#section-5.5.3). We should include as much information in the header as possible, such as the version of PHP and any library relevant to the HTTP request. Simply put, it should look something like this:

```http
User-Agent: PayEx.Magento/1.2.3 PayEx.Ecommerce.Php/1.0.2 Magento/1.9.2.4 PHP/7.0.6
```



Solved in 3042b8440526105fe63bda104380f153faddef07